<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Devall::top_level" title="Customer" module="Devall_Customform" sortOrder="9999"
             resource="Magento_Backend::content"/>
        <add id="Devall_Customform::manage_mlcustomform" title="Manage Customform" module="Devall_Customform"
             sortOrder="9999" resource="Devall_Customform::manage_mlcustomform" parent="Devall::top_level"
             action="mladmincustomform/customform"/>
    </menu>
</config>
